{% extends "base.html" %}

{% block title %}#{{ tag }}{% endblock %}

{% block css %}

<link rel="stylesheet" href="../style.css" type="text/css"> 
<link rel="icon" type="image/webp" href="../favicon.webp">

{% endblock %}

{% block pages %}
          <li><h2><a href="../index.html">Blog</a></h2></li>
          <li><h2><a href="../archive.html">Archive</a></h2></li>
          <li><h2><a href="../tags/index.html">Tags</a></h2></li>
          <li><h2><a href="../about.html">About Me</a></h2></li>
{% endblock %}

{% block content %}

<h2>Articles tagged "{{ tag }}"</h2>

{% for entry in archive %}

  <article>
    <header>
      <time datetime="{{ entry.date }}">{{ entry.date.date() }}</time>
      <div>
      <h2><a href="../{{ entry.dst }}">{{ entry.title }}</a></h2>
      {% if entry.description %}
      <p>— {{ entry.description }}</p>
      {% endif %}
      </div>
    </header>
  </article>

{% endfor %}

{% endblock %}
